 <head>
  <meta charset="utf-8"/>
  <script>document.documentElement.classList.replace("no-js", "js");</script>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>{{title}}</title>
  <meta content="{{description}}" name="description"/>
  <meta content="#0f1f18" name="theme-color"/>
  <link href="assets/css/foundation-subset.css" rel="stylesheet"/>
  <link href="assets/css/design.css" rel="stylesheet"/>
  <link href="assets/css/site.css" rel="stylesheet"/>
  <link href="assets/logo.svg" rel="icon" type="image/svg+xml"/>
  <script defer="True" src="assets/js/site.js">
  </script>
{{page_js}}  <script defer src="assets/js/analytics.js"></script>
{{page_css}} <link href="assets/css/layout.css" rel="stylesheet"/>
 <link href="assets/css/fonts.css" rel="stylesheet"/>
<link rel="preload" href="assets/fonts/newsreader-normal.woff2" as="font" type="font/woff2" crossorigin/>
<link rel="preload" href="assets/fonts/public-sans-normal.woff2" as="font" type="font/woff2" crossorigin/>
</head>