     <nav aria-label="Main navigation" class="primary-navigation top-style-7" id="primary-navigation">
      <a class="top-style-8" href="news.html"{{active_news}}>News &amp; Updates</a>
      <a class="top-style-8" href="issues.html"{{active_issues}}>
       The Risks
      </a>
      <a class="top-style-8" href="projects.html"{{active_projects}}>
       Local Projects
      </a>


      <a class="top-style-8" href="resources.html"{{active_resources}}>
       Resources
      </a>
     <a class="top-style-8" href="faq.html"{{active_faq}}>FAQ</a><a class="top-style-8 mobile-action" href="take-action.html">Take Action →</a></nav>
