     <nav aria-label="Main navigation" class="primary-navigation" id="primary-navigation">
      <a class="nav-link" href="news.html"{{active_news}}>News &amp; Updates</a>
      <a class="nav-link" href="issues.html"{{active_issues}}>
       The Risks
      </a>
      <a class="nav-link" href="projects.html"{{active_projects}}>
       Local Projects
      </a>


      <a class="nav-link" href="resources.html"{{active_resources}}>
       Resources
      </a>
     <a class="nav-link" href="faq.html"{{active_faq}}>FAQ</a><a class="nav-link mobile-action" href="take-action.html">Take Action <span class="mobile-action-arrow" aria-hidden="true">→</span></a></nav>
