   <header class="site-header" id="top">
    <div class="header-inner grid-container section-inner">
     <a class="site-logo" href="{{home_href}}">
      <img alt="Protect Our Poconos" class="site-logo-img" height="286" src="./assets/logo.svg" width="341"/>
      <span class="site-logo-text">
       PROTECT
       <br/>
       OUR POCONOS
      </span>
     </a>
     <button aria-controls="primary-navigation" aria-expanded="false" class="menu-toggle" type="button">
      Menu
     </button>
{{> primary-nav}}
     <div class="header-actions">
      <span class="header-divider">
      </span>
      <a class="nav-cta cta-teal" href="take-action.html">TAKE ACTION <span class="nav-cta-arrow">→</span></a>
     </div>
    </div>
   </header>
