   <header class="site-header layout-style-2" id="top">
    <div class="header-inner grid-container section-inner top-style-3">
     <a class="top-style-4" href="{{home_href}}">
      <img alt="Protect Our Poconos" class="top-style-5" height="286" src="./assets/logo.svg" width="341"/>
      <span class="top-style-6">
       PROTECT
       <br/>
       OUR POCONOS
      </span>
     </a>
     <button aria-controls="primary-navigation" aria-expanded="false" class="menu-toggle" type="button">
      Menu
     </button>
{{> primary-nav}}
     <div class="header-actions top-style-9">
      <span class="top-style-10">
      </span>
      <a class="top-style-11 cta-teal" href="take-action.html">TAKE ACTION <span class="top-style-12">→</span></a>
     </div>
    </div>
   </header>
